body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.wrapper{
 
}
header{
  opacity: 0.8;
  background-color: #ffffff;
  z-index: 1000;
  position:fixed;
  width: 100%;
}
.header__warp{
  height: 77px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__left{
  padding-left: 16vw;
  padding-top: 18px;
}
.header__right{
  padding-right: 16.6vw;
}
.header__right ul{
  display: flex;
}
.header__right li{
  list-style: none;
  margin-left: 1.9vw;
}
.header__right a{
  display: block;
}
.header__right ul li:nth-child(-n+6) a{
  font-size: 16px;
  color: #110603;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  padding: 5px 0px;
  margin-top: 28px;
}
.header__right ul li:nth-child(-n+6) a:hover{
  border-bottom: 2px #110603 solid;
}
.header__right ul li:nth-child(7) a{
  height: 25px;
  margin-top: 24px;
}
@media screen and (max-width:1300px) {
  .header__left{
    padding-left: 8vw;
  }
  .header__right{
    padding-right: 8vw;
  }
}
@media screen and (max-width: 800px){
  .header__warp{
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 0 35px;
  }
  .header__left{
    padding-left: 0;
    padding: 0;
  }
  /* ハンバーガーメニュー*/
  .nav-btn{
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  a.nav-btn.active{
    position: fixed;
  }
  .nav-btn div{
    height: 1px;
    width: 50%;
    background-color: #110603;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .nav-btn div:nth-of-type(1){
    transform: translate(-50%, -10px);
  }
  .nav-btn div:nth-of-type(3){
    transform: translate(-50%, 10px);
  }
  a.nav-btn.active div:nth-of-type(1){
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }
  a.nav-btn.active div:nth-of-type(2){
    opacity: 0;
  }
  a.nav-btn.active div:nth-of-type(3){
    transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }
  nav{
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  nav.open{
    opacity: 1;
    visibility: visible;
    transition: 0.8s;
  }
  nav ul{
    height: 100%;
    width: 100%;
    display: block!important;
    padding-top: 50px!important;
  }
  .header__right li{
    padding-bottom: 20px;
    margin-left: 10vw;
    width: 30%;
  }
  .header__right ul li:nth-child(-n+6) a{
    font-weight: bold;
    font-size: 20px;
  }
  .header__right ul li:nth-child(-n+6) a:hover{
    border-bottom: 0;
  }
}

/* main */
main{
  background-color: #e6e7e9;
}

/* mv */
.mv__warp{
  padding-top: 77px;
  height: 36.2vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 54px;
  align-items: center;
}
.mv__left-text{
  padding-right: 4.17vw;
}
.mv__left-text h2{
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 18.5px;
  margin-left: -20px;
}
.mv__left-text h2 span{
  font-size: 30px;
}
.mv__left-text p{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.01em;
  font-weight: bold;
}
.mv__left-text p span{
  font-size: 18px;
}
.mv__right{
  width: 57.83%;
}
.mv__right img{
  width: 100%;
  height: 36.2vw;
}
#subImg{
  display: none;
}
@media screen and (max-width: 1400px){
  .mv__warp{
    height: 32.52vw;
  }
  .mv__left-text h2{
    font-size: 29px;
    margin-bottom: 18.5px;
    margin-left: -20px;
  }
  .mv__left-text h2 span{
    font-size: 23px;
  }
  .mv__left-text p{
    font-size: 15px;
  }
  .mv__left-text p span{
    font-size: 15px;
  }
  .mv__right{
    width: 52%;
  }
  .mv__right img{
    height: 32.52vw;
  }
}
@media screen and (max-width: 1000px){
  .mv__left-text{
    padding-right: 3.2vw;
  }
  .mv__left-text h2{
    font-size: 24px;
    margin-bottom: 18.5px;
    margin-left: -15px;
  }
  .mv__left-text h2 span{
    font-size: 19px;
  }
  .mv__left-text p{
    font-size: 13px;
  }
  .mv__left-text p span{
    font-size: 15px;
  }
}
@media screen and (max-width:900px) {
  .news__warp{
    width: 80%;
  }
}
@media screen and (max-width: 765px){
  .mv__warp{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }
  .mv__left{
    padding-bottom: 20px;
  }
  .mv__right{
    width: 100%;
    text-align: center;
  }
  .mv__right img{
    height: 40vw;
  }
  .mv__left-text{
    padding: 0;
  }
  .mv__right img{
    width: 85%;
  }
  .mv__left-color ul{
    width: 100%;
    padding-left: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 550px){
  .mv__right{
    width: 100%;
  }
  .mv__right img{
    height: auto;
  }
}
/* news */
.news__warp{
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: 66.72%;
  border-radius: 200px;
  margin: auto;
}
.news__warp h2{
  padding-left: 4.94vw;
  padding-right: 3.22vw;
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.1em;
}
.news__warp dl{
  width: 75%;
  padding: 1.5vw 0;
}
.news__content a{
  display: flex;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16.02px;
  line-height: 2.187;
  letter-spacing: 0.01em;
  color: #110603;
  font-weight: bold;
}
.news__warp dt{
  margin: 5px 1.89vw 5px 0;
}
.news__warp dd{
  margin: 5px 0;
}
@media screen and (max-width:1250px) {
  .news__warp{
    width: 72%;
  }
  .news__warp h2{
    font-size: 17.36px;
  }
}
@media screen and (max-width:900px) {
  .news__warp{
    width: 80%;
  }
  .news__warp h2{
    font-size: 21px;
  }
  .news__content a{
    font-size: 14px;
    border-bottom: 1px solid #110603;
    padding-bottom: 5px;
  }
  .news__warp{
    flex-direction: column;
    padding: 20px 0;
    border-radius: 0px;
  }
  .news__content{
    padding: 10px 20px;
  }
}
@media screen and (max-width: 765px){
  .news__warp{
    width: 80%;
    box-sizing: border-box;
  }
  .news__warp dl{
    width: 100%;
  }
}

/* story */
.story__warp{
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding: 4.83vw 0 8vw 0;
}
.story__left{
  width: 36.75%;
  margin-left: 7.78vw;
}
.story__left-small{
  width: 80%;
  margin: auto;
}
.story__left-arrow{
  text-align: center;
}
.story__left-arrow img:nth-child(1){
  width: 9%;
  padding: 27px 0 21px 0;
}
.story__left-arrow img:nth-child(2){
  display: none;
}
.story__left-big{
  width: 55.6%;
  margin: auto;

}
.story__left img{
  width: 100%;
}
.story__right{
  padding-left: 4.72vw;
  padding-top: 10.5vw;
}
.story__right h2{
  font-size: 45px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1;
  margin-bottom: 24.5px;
}
.story__right p{
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #110603;
}
.story__right a{
  color: #ba0b20;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
}
@media screen and (max-width:1200px) {
  .story__left{
    width: 34%;
    margin-left: 6.6vw;
  }
  .story__left-small{
    width: 80%;
  }
  .story__left-big{
    width: 55.6%;
  }
  .story__right h2{
    font-size: 30px;
    margin-bottom: 16.3px;
  }
  .story__right p{
    font-size: 15px;
    line-height: 35px;
  }
}
@media screen and (max-width:900px) {
  .story__warp{
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .story__left{
    order: 2;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 20px auto 0;
    width: 90%;
  }
  .story__left-small{
    padding-right: 20px;
    width: 55%;
  }
  .story__left-big{
    padding-left: 20px;
    width: 30%;
  }
  .story__left-arrow{
    text-align: center;
  }
  .story__left-arrow img:nth-child(1){
    display: none;
  }
  .story__left-arrow img:nth-child(2){
    display: block;
  }
  .story__left img{
    /* width: 100%; */
  }
  .story__right{
    order: 1;
    padding: 0;
    text-align: center;
  }
  .story__right h2{
    font-size: 30px;
    margin-bottom: 16.3px;
  }
  .story__right p{
    font-size: 13px;
    line-height: 35px;
  }
}

/* slick */
.slick{
  overflow: hidden;
}
.slick__warp{
  margin: 0 auto;
}
.slick__warp ul{
  display: flex;
}
.slick__warp li{
  list-style: none;
}
.slick__warp li img{
  width: 33.2vw;
}
@media screen and (max-width:1200px) {
  .slick__warp li img{
    width: 40vw;
  }
}
@media screen and (max-width:550px) {
  .slick__warp li img{
    width: 70vw;
  }
}

/* scene */
.scene__warp{
  margin: -3px auto 0;
  padding: 6.39vw 0 5.31vw;
  background-color: #fff;
}
.scene__warp{
  display: flex;
}
.scene__warp h2{
  font-size: 45px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.1em;
  padding-right: 11.28vw;
  padding-left: 17.78vw;
}
.scene__warp p{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-top: -7px;
}
@media screen and (max-width:1400px) {
  .scene__warp h2{
    padding-left: 11vw;
    padding-right: 6vw;
  }
}
@media screen and (max-width:1200px) {
  .scene__warp h2{
    font-size: 30px;
    padding-right: 3vw;
    padding-left: 6vw;
  }
  .scene__warp p{
    font-size: 15px;
  }
}
@media screen and (max-width:900px) {
  .scene__warp{
    box-sizing: border-box;
    flex-direction: column;
    /* text-align: center; */
    padding-left: 17.78vw;
  }
  .scene__warp h2{
    font-size: 30px;
    padding: 0 0 12px;
  }
  .scene__warp p{
    font-size: 16px;
    padding-left: 17px;
  }
  .scene__warp p{
    padding: 0 0 0 10px;
  }
}
@media screen and (max-width: 650px){
  .scene__warp{
    padding-left: 9.78vw;
  }
}

/* product */
.product__warp{
  margin: 0 auto;
  padding-top: 11.94%;
}
.product__warp h2{
  font-family: 'Noto Sans', sans-serif;
  font-size: 45px;
  letter-spacing: 0.1em;
  padding-bottom: 7.5vw;
  padding-left: 17.78vw;
  margin: auto;
}
.product__top-image{
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.product__top-image ul{
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  height: 32vw;
  overflow: hidden;
}
.product__top-image ul li{
  position: absolute;
  z-index: 10;
}

/* ここで商品の大きさを調節. */
.slider1{
  width: 18.67vw;
}
.slider2{
  width: 30.39vw;
}
.slider3{
  width: 22.89vw;
}
.slider4{
  width: 25vw;
}
.slider5{
  width: 18.67vw;
}
.slider6{
  width: 30.39vw;
}
.slider7{
  width: 22.89vw;
}
.product__top-image ul li:nth-child(1){
  left: -12.8vw;
}
.product__top-image ul li:nth-child(2){
  left: 19.83vw;
}
.product__top-image ul li:nth-child(3){
  left: 89vw;
}
.product__top-image ul li:nth-child(n+4){
  left: 100vw;
}
.product__top-image ul li img{
  width: 100%;
}
.product__top-text{
  background-color: #ffffff;
  width: 35.33vw;
  height: 23.44vw;
  position: relative;
  bottom: 29.94vw;
  margin-left: 46.72vw;
  z-index: 1;
}
.product__top-text .num{
  background-size: cover;
  position: absolute;
  top: -13.61vw;
  left: -11.94vw;
  height: 11.28vw;
  width: 13.89vw;
  margin: 0px;
}
.product__top-text h3{
  font-size: 30px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: bold;
  padding-top: 4vw;
  padding-bottom: 1.53vw;
  width: 58.18%;
  margin: 0 auto;
}
.product__top-text p{
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 35px;
  padding-bottom: 2.19vw;
  width: 58.18%;
  margin: 0 auto;
}
.product__top-text a:nth-of-type(1){
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  color: #110603;
  background-color: #e6e7e9;
  padding: 14px 17px 13px 18px;
  margin-top: 14px;
  margin-left: 12.17vw;
}
.product__top-text a:nth-of-type(2){
  width: 17.3%;
  display: block;
  margin-left: 22.83vw;
}
.product__top-text a:nth-of-type(2) img{
  width: 100%;
}
.product__top-folder{
  display: none;
}
.product__top-button{
  position: relative;
  bottom: 19.72vw;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
.product__top-button li{
  margin: 0 2.5vw;
}
.product__bottom img{
  width: 100%;
}
.product__bottom{
  display: flex;
  justify-content: flex-end;
  margin-top: -11.39vw;
}
.product__bottom-left img:nth-of-type(2){
  margin-top: auto;
}
.product__bottom-left{
  padding-right: 46px;
  display: flex;
  flex-direction: column;
  width: 27.7%;
}
.product__bottom-left img{
  width: 100%;
}
.product__bottom-right{
  width: 52.9%;
}
.product__bottom-right img{
  width: 100%;
}
@media screen and (max-width:1600px) {
  .product__top-text h3{
    font-size: 30px;
    padding-top: 3.5vw;
    width: 65%;
  }
  .product__top-text p{
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 2.19vw;
    width: 65%;
  }
  .product__bottom-imgright li:nth-of-type(2){
    font-size: 14px;
  }
}
@media screen and (max-width:1500px) {
  .product__top-text .num{
    top: -13.61vw;
    left: -10vw;
    height: 11.28vw;
    width: 13.89vw;
  }
  .product__top-text h3{
    font-size: 30px;
    padding-top: 3vw;
    width: 65%;
  }
  .product__top-text p{
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 2.19vw;
    width: 65%;
  }
}
@media screen and (max-width:1400px){
  .product__bottom-imgright li:nth-of-type(2){
    font-size: 12px;
  }
}
@media screen and (max-width:1450px) {
  .product__top-text .num{
    top: -13.61vw;
    left: -10vw;
    height: 11.28vw;
    width: 13.89vw;
  }
  .product__top-text h3{
    padding-top: 2.5vw;
    padding-bottom: 1vw;
    width: 70%;
  }
  .product__top-text p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 2.19vw;
    width: 70%;
  }
  .product__top-text a:nth-of-type(1){
    margin-left: 10vw;
  }
}
@media screen and (max-width:1300px) {
  .product__top{
    display: flex;
    flex-flow: column;
  }
  .product__top-image{
    order:1;
  }
  .product__top-image ul{
    height: 52.65vw;
  }
  .slider1{
    width: 30.72vw;
  }
  .slider2{
    width:50vw;
  }
  .slider3{
    width: 37.66vw;
  }
  .slider4{
    width: 32vw;
  }
  .slider5{
    width: 30.72vw;
  }
  .slider6{
    width:50vw;
  }
  .slider7{
    width: 37.66vw;
  }
  .product__top-image ul li:nth-child(2){
    left: 25vw;
  }
  .product__top-image ul li img{
    width: 100%;
  }
  .product__top-text{
    order: 3;
    width: 65%;
    height: auto;
    min-height: 36vw;
    bottom: 0;
    margin-left: 25vw;
  }
  .product__top-text .num{
    top: 0;
    left: -18vw;
    height: 11.28vw;
    width: 13.89vw;
  }
  .product__top-text h3{
    padding-top: 4vw;
    padding-bottom: 1.53vw;
    width: 75%;
  }
  .product__top-text p{
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 2.19vw;
    width: 75%;
  }
  .product__top-link{
    display: flex;
    justify-content: center;
    padding-bottom: 3.5vw;
  }
  .product__top-text a:nth-of-type(1){
    margin-top: 0;
    margin-left: 11vw;
  }
  .product__top-text a:nth-of-type(2){
    margin-left: 5vw;
  }
  .product__top-button{
    order:2;
    position: relative;
    bottom: 0;
    margin: 5vw auto;
  }
  .product__top-button li{
    margin: 0 2.5vw;
  }
  .product__bottom{
    margin-top: 4vw;
  }
}
@media screen and (max-width:1200px){
  .product__warp h2{
    font-size: 30px;
  }
}
@media screen and (max-width:900px){
  .product__warp h2{
  }
}
@media screen and (max-width:800px) {
  .product__top-text h3{
    font-size: 24px;
  }
  .product__bottom-imgright li{
    height: 100%;
  }
  .product__bottom-imgright img{
    height: 100%;
  }
}
@media screen and (max-width: 765px){
  .product__warp{
    width: 100%;
    box-sizing: border-box;
  }
  .product__top{
    width: 100%;
  }
  .product__content-img img{
    width: 100%;
  }
  .product__bottom img{
    width: 100%;
  }
}

/* accessment */
.assessment__warp{
  margin: 0 auto;
  padding-top: 8.67vw;
  padding-bottom: 7.66%;
}
.assessment__content{
  margin: auto;
}
.assessment__content-text{
  width: 64.11%;
  margin: 0 auto;
}
.assessment__content h2{
  font-size: 45px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.1em;
  display: inline;
}
.assessment__content-text .fa-stack{
  margin-top: -15px;
  font-size:15px;
  margin-left: 10px;
}
.assessment__content p{
  font-size: 21.4px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: bold;
  color: #ba0b20;
  margin-top: 12px;
  padding-bottom: 48px;
}
.assessment__content ul{
  background-color: #ffffff;
  height: 495px;
  width: 64.11%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.assessment__content li{
  list-style: none;
  padding-left: 98px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5625;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
@media screen and (max-width: 1200px){
  .assessment__content h2{
    font-size: 30px;
  }
  .assessment__content h2::before{
    top: 8px;
  }
  .assessment__content p{
    font-size: 14px;
  }
  .assessment__content-text .fa-stack{
    font-size: 10px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1000px){
  .assessment__content ul{
    padding-right: 20px;
  }
}
@media screen and (max-width: 800px){
  .assessment__content ul{
    width: 80%;
  }
}
@media screen and (max-width: 765px){
  .assessment__warp{
    width: 100%;
    box-sizing: border-box;
  }
  .assessment__content{
    width: 100%;
  }
  .assessment__content-text{
    text-align: center;
  }
  .assessment__content li{
    padding-left: 0;
  }
  .assessment__content ul{
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* faq */
.faq__warp{
  width: 64.11%;
  margin: 0 auto;
  padding-bottom: 3.61vw;
}
.faq__warp h2{
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 3.5vw;
  letter-spacing: 0.1em;
}
.faq__warp h2 span:nth-of-type(2) {
  font-size: 0.7em;
  font-family: 'Noto Sans', sans-serif;
}
.faq__warp ul{
  display: flex;
  justify-content: space-between;
}

.faq__warp li{
  list-style: none;
}
.faq__warp h3{
  font-size: 18px;
  padding-bottom: 5px;
  position: relative;
  height: 70px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.faq__warp h3::before{
  content: "";
  display: block;
  background-size: cover;
  position: absolute;
  top: -5px;
  left: -25px;
  height: 69px;
  width: 81px;
  margin: 0px;
  background-image: url(../images/Q.png);
}
.faq__warp p{
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.faq__warp li:nth-of-type(1){
  padding-right: 52px;
}
.faq__warp li:nth-of-type(2){
  border-left: 1px dotted #231814;
  border-right: 1px dotted #231814;
  padding-left: 46px;
  padding-right: 39px;
}
.faq__warp li:nth-of-type(3){
  padding-left: 52px;
}
.faq__warp p:nth-of-type(2){
  padding-top: 31px;
}

@media screen and (max-width: 1400px){
  .faq__warp{
    width: 90%;
  }
}

@media screen and (max-width: 1200px){
  .faq__warp h2{
    font-size: 30px;
  }
}

@media screen and (max-width: 900px){
  .faq__warp{
    width: 80%;
    padding-bottom: 5vw;
  }
  .faq__warp br{
    display: none;
  }
  .faq__content{
    width: 75%;
    margin: auto;
  }
  .faq__warp h2{
    text-align: center;
  }
  .faq__warp ul{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .faq__warp h3{
    height: 48px;
  }
  .faq__warp p{
    padding-left: 10px;
  }
  .faq__warp li:nth-of-type(1){
    padding-bottom: 50px;
  }
  .faq__warp li:nth-of-type(2){
    border: 0;
    padding: 0 0 50px 0;
  }
  .faq__warp li:nth-of-type(3){
    padding-left: 0;
  }
  .faq__warp h3::before{
    top: -10px;
    height: 48px;
    width: 61px;
  }
  .faq__warp li:nth-of-type(2)::before{
    left: -25px;
  }
  .faq__warp li:nth-of-type(3)::before{
    left: -25px;
  }
  .faq__title-second{
    padding-bottom: 30px!important;
  }
}

@media screen and (max-width: 765px){
  .faq__warp{
    box-sizing: border-box;
  }
  .faq__warp h2{
    text-align: center;
  }
  .faq__warp ul{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .faq__warp li:nth-of-type(1){
    padding-bottom: 50px;
  }
  .faq__warp li:nth-of-type(2){
    border: 0;
    padding: 0 0 50px 0;
  }
}

/* footer */
.footer__warp{
  margin: 0 auto;
  text-align: center;
  padding: 5.33% 0 19px 0;
}
footer img{
  width: 6.83%;
}
.footer__text{
  display: block;
  color: #838383;
  font-size: 11px;
  padding-bottom: 73px;
}
.footer__copy{
  display: block;
  font-size: 11px;
  color: #110603;
}

@media screen and (max-width: 765px){
  .footer__warp{
    width: 100%;
    box-sizing: border-box;
  }
}
